// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "bootstrap-italia/src/scss/bootstrap-italia";
@import "summernote/dist/summernote-bs5.css";
@import "open-iconic/font/css/open-iconic-bootstrap.css";

// Fix for Bootstrap 4
select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-group {
    label {
        color: #1a1a1a;
        font-size: .875rem;
        font-weight: 600;
        transform: translateY(-75%);
    }
}

.custom-control-input {
    position: relative;
    z-index: 0;
    opacity: 1;
}

.action-icons {
    span {
        cursor: pointer;
        margin-left: 20px;
    }

    a {
        color: #000;
    }
}

.ui-sortable-helper {
    background-color: #FFF;
}

.hours-grid {
    input[type=checkbox] {
        height: 20px;
        width: 20px;
    }
}

.droppable-slot {
    .action-icons {
        margin-top: 10px;
        margin-right: 10px;
    }
}

.ui-draggable-dragging {
    z-index: 1000;
}

.note-editor {
    &:after {
        content: none;
    }
}

.category-row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #EEE;
    background-color: #FFF;
}
